#ListUnitBox div{
	transition: all 2s ease;
}
#ListUnitBox div:hover{
	background: rgb(32,111,14);
	background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
	transition: all 2s ease;
}
.NoPress{
	background: rgb(43,43,43);
}
.Press{
	background: rgb(32,111,14);
	background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
}

#ListButtonBox div{
	transition: all 2s ease;
}
#ListButtonBox .OneApartButton{
	background: rgb(43,43,43);
	transition: all 2s ease;
}
#ListButtonBox .ClickOneApart{
	background: rgb(111,14,14);
	background: linear-gradient(90deg, rgba(111,14,14,1) 0%, rgba(189,29,29,1) 35%, rgba(238,45,45,1) 50%, rgba(189,29,29,1) 65%, rgba(111,14,14,1) 100%);
	transition: all 2s ease;
}
#ListButtonBox div:hover{
	background: rgb(111,14,14);
	background: linear-gradient(90deg, rgba(111,14,14,1) 0%, rgba(189,29,29,1) 35%, rgba(238,45,45,1) 50%, rgba(189,29,29,1) 65%, rgba(111,14,14,1) 100%);
	transition: all 2s ease;
}

.NoPressM{
	background: rgb(43,43,43);
}
.PressM{
	background: rgb(32,111,14);
	background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
}

#MEASUR ul{
	display: none;
	transition: all 2s ease;
}
#MEASUR:hover > ul{
	display: block;
	transition: all 2s ease;
}
#MEASUR ul li:hover{
	background: rgb(32,111,14);
	background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
	transition: all 2s ease;
}

#SAVE ul li{
	transition: all 2s ease;
}
#SAVE ul li:hover{
	background: rgb(32,111,14);
	background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
	transition: all 2s ease;
}
#SAVE ul{
	display: none;
	transition: all 2s ease;
}
#SAVE:hover > ul{
	display: block;
	transition: all 2s ease;
}



.SortList ul{
	display: none;
	transition: all 2s ease;
}
.SortList:hover > ul{
	display: block;
	transition: all 2s ease;
}
.SortList ul li:hover{
	background: rgb(32,111,14);
	background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
	transition: all 2s ease;
}
.SortBox ul li:hover{
	background: rgb(32,111,14);
	background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
	transition: all 2s ease;
}.SortList ul li:first-child{
	 background: rgb(32,111,14);
	 background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
	 transition: all 2s ease;
 }
 .Constructor:hover{
	 background: rgb(32,111,14);
	 background: linear-gradient(0deg, rgba(32,111,14,1) 0%, rgba(53,170,27,1) 35%, rgba(54,172,27,1) 50%, rgba(53,170,27,1) 65%, rgba(32,111,14,1) 100%);
	 transition: all 2s ease;
 }